# Konfigurasi Database (MySQL)
DB_HOST=db
DB_USER=root
DB_PASSWORD=isi_password_database_disini
DB_NAME=nusantara_tech

# Konfigurasi Object Storage (MinIO)
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=isi_access_key_disini
MINIO_SECRET_KEY=isi_secret_key_disini
MINIO_BUCKET=documents
